[Desktop Entry]
Type=Service
Icon=preferences-system
Exec=kcmshell5 msm_kernel

X-KDE-Library=msm_kernel
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=xerolinux
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_kernel
X-KDE-Keywords=kernel
X-KDE-Keywords[x-test]=xxkernelxx
Categories=Qt;KDE;X-KDE-settings-system;xerolinux

Name=Kernel
Name[ast]=Kernel
Name[bg_BG]=Ядро
Name[ca]=Nucli
Name[cs_CZ]=Jádro
Name[da]=Kerne
Name[de]=Kernel
Name[el]=Πυρήνας
Name[es]=Núcleo
Name[es_419]=Kernel
Name[fa_IR]=کرنل
Name[fi]=Ydin
Name[fr]=Noyau
Name[hr]=Jezgra
Name[hu]=Kernel
Name[is]=Kjarni
Name[it]=Kernel
Name[ja]=カーネル
Name[lt]=Branduolys
Name[nb]=Kjerne
Name[nl]=Kernel
Name[pl]=Jądro
Name[pt_BR]=Kernel
Name[pt_PT]=Kernel
Name[ro]=Nucleu
Name[ru]=Ядро
Name[sk_SK]=Jadro
Name[sl]=Jedro
Name[sq]=Kernel
Name[sv]=Kärna
Name[tr]=Linux Çekirdeği
Name[uk]=Ядро
Name[zh_CN]=内核
Name[zh_TW]=核心

Name[he]=קרנל

Comment=Add and remove xerolinux kernels
Comment[bg_BG]=Добавяне и премахване на ядра
Comment[ca]=Afegiu i elimineu nuclis del XeroLinux
Comment[da]=Tilføj og fjerne xerolinux-kerner
Comment[de]=XeroLinux-Kernel hinzufügen oder entfernen
Comment[el]=Προσθήκη και αφαίρεση πυρήνων xerolinux
Comment[es]=Añadir o quitar núcleos XeroLinux
Comment[es_419]=Agregar y quitar kernels de xerolinux
Comment[fa_IR]=حذف و اضافه کردن کرنل های مانجارو
Comment[fi]=Lisää ja poista xerolinux ytimiä
Comment[fr]=Ajouter et supprimer des noyaux xerolinux
Comment[hr]=Dodaj i ukloni xerolinux jezgre
Comment[hu]=XeroLinux kernelek hozzáadása és eltávolítása
Comment[is]=Bæta við og fjarlægja xerolinux kjarna
Comment[it]=Aggiungi e rimuovi i kernel di XeroLinux
Comment[ja]=カーネルの追加と削除
Comment[lt]=Pridėti ir šalinti xerolinux branduolius
Comment[nb]=Legg til og fjern XeroLinuxs kjerner
Comment[nl]=Voeg toe en verwijder xerolinux kernels
Comment[pl]=Dodawaj i usuwaj jądra systemowe
Comment[pt_BR]=Adicionar e remover kernels xerolinux
Comment[pt_PT]=Adicionar ou remover kernels
Comment[ro]=Adaugă şi şterge nuclee xerolinux
Comment[ru]=Добавить или удалить ядра xerolinux
Comment[sk_SK]=Pridanie a odstránenie jadier systému XeroLinux
Comment[sl]=Dodaj ali odstrani xerolinux jedra
Comment[sq]=Shto dhe hiq kernelin xerolinux
Comment[sv]=Lägg till och ta bort XeroLinuxkärnor
Comment[tr]=XeroLinux için linux çekirdeği ekle ve kaldır
Comment[uk]=Додавання і видалення ядра xerolinux
Comment[zh_CN]=安装或已出 XeroLinux 内
Comment[zh_TW]=新增與移除 xerolinux 核心
