[Desktop Entry]
Type=Service
Icon=preferences-system
Exec=kcmshell5 msm_kernel

X-KDE-Library=msm_kernel
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=garuda
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=msm_kernel
X-KDE-Keywords=kernel
X-KDE-Keywords[x-test]=xxkernelxx
Categories=Qt;KDE;X-KDE-settings-system;garuda

Name=Kernel
Name[ast]=Kernel
Name[bg_BG]=Ядро
Name[ca]=Nucli
Name[cs_CZ]=Jádro
Name[da]=Kerne
Name[de]=Kernel
Name[el]=Πυρήνας
Name[es]=Núcleo
Name[es_419]=Kernel
Name[fa_IR]=کرنل
Name[fi]=Ydin
Name[fr]=Noyau
Name[hr]=Jezgra
Name[hu]=Kernel
Name[is]=Kjarni
Name[it]=Kernel
Name[ja]=カーネル
Name[lt]=Branduolys
Name[nb]=Kjerne
Name[nl]=Kernel
Name[pl]=Jądro
Name[pt_BR]=Kernel
Name[pt_PT]=Kernel
Name[ro]=Nucleu
Name[ru]=Ядро
Name[sk_SK]=Jadro
Name[sl]=Jedro
Name[sq]=Kernel
Name[sv]=Kärna
Name[tr]=Linux Çekirdeği
Name[uk]=Ядро
Name[zh_CN]=内核
Name[zh_TW]=核心

Name[he]=קרנל

Comment=Add and remove garuda kernels
Comment[bg_BG]=Добавяне и премахване на ядра
Comment[ca]=Afegiu i elimineu nuclis del Garuda
Comment[da]=Tilføj og fjerne garuda-kerner
Comment[de]=Garuda-Kernel hinzufügen oder entfernen
Comment[el]=Προσθήκη και αφαίρεση πυρήνων garuda
Comment[es]=Añadir o quitar núcleos Garuda
Comment[es_419]=Agregar y quitar kernels de garuda
Comment[fa_IR]=حذف و اضافه کردن کرنل های مانجارو
Comment[fi]=Lisää ja poista garuda ytimiä
Comment[fr]=Ajouter et supprimer des noyaux garuda
Comment[hr]=Dodaj i ukloni garuda jezgre
Comment[hu]=Garuda kernelek hozzáadása és eltávolítása
Comment[is]=Bæta við og fjarlægja garuda kjarna
Comment[it]=Aggiungi e rimuovi i kernel di Garuda
Comment[ja]=カーネルの追加と削除
Comment[lt]=Pridėti ir šalinti garuda branduolius
Comment[nb]=Legg til og fjern Garudas kjerner
Comment[nl]=Voeg toe en verwijder garuda kernels
Comment[pl]=Dodawaj i usuwaj jądra systemowe
Comment[pt_BR]=Adicionar e remover kernels garuda
Comment[pt_PT]=Adicionar ou remover kernels
Comment[ro]=Adaugă şi şterge nuclee garuda
Comment[ru]=Добавить или удалить ядра garuda
Comment[sk_SK]=Pridanie a odstránenie jadier systému Garuda
Comment[sl]=Dodaj ali odstrani garuda jedra
Comment[sq]=Shto dhe hiq kernelin garuda
Comment[sv]=Lägg till och ta bort Garudakärnor
Comment[tr]=Garuda için linux çekirdeği ekle ve kaldır
Comment[uk]=Додавання і видалення ядра garuda
Comment[zh_CN]=安装或已出 Garuda 内
Comment[zh_TW]=新增與移除 garuda 核心
