[Desktop Entry]
Name=Garuda Notifier KDE Settings
Name[da]=Garuda-notifikator KDE-indstillinger
Name[fr]=Paramètres du Notifieur KDE Garuda
Name[hu]=A Garuda Notifier KDE beállítása
Name[pl]=Ustawienia powiadomień Garuda dla KDE
Name[sk]=Nastavenia oznámení KDE systému Garuda

Comment=Graphical Settings for Garuda Notifier KDE
Comment[da]=Grafiske indstillinger til Garuda-notifikator KDE
Comment[de]=Grafische Einstellungsverwaltung für Garuda
Comment[fr]=Gestionnaire graphique de paramètres pour Notifieur Garuda
Comment[hu]=Grafikus beállításkezelő a Garuda KDE Értesítőhöz
Comment[pl]=Graficzne ustawienia powiadomień Garuda dla środowiska KDE
Comment[sk]=Grafické nastavenia oznámení prostredia KDE pre systém Garuda

Exec=msm_kde_notifier --settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-XFCE-SettingsDialog;X-KDE-Settings;X-XFCE-SystemSettings;
