[Desktop Entry]
Name=Garuda Notifier Settings
Name[da]=Garuda-notifikatorindstillinger
Name[fr]=Paramètres du Notifieur Garuda
Name[hu]=Garuda Értesítő beállítások
Name[pl]=Ustawienia powiadomień Garuda
Name[sk]=Nastavenia oznámení systému Garuda

Comment=Graphical Settings for Garuda Notifier
Comment[da]=Grafiske indstillinger til Garuda-notifikator
Comment[de]=Grafische Einstellungsverwaltung für Garuda
Comment[fr]=Gestionnaire graphique de paramètres pour Notifieur Garuda
Comment[hu]=A Garuda Notifier értesítéseinek beállítása
Comment[pl]=Graficzne ustawienia powiadomień systemu Garuda
Comment[sk]=Grafické nastavenia oznámení pre systém Garuda

Exec=msm_notifier --settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-XFCE-SettingsDialog;X-KDE-Settings;X-XFCE-SystemSettings;
