[Desktop Entry]
Name=XeroLinux Notifier Settings
Name[da]=XeroLinux-notifikatorindstillinger
Name[fr]=Paramètres du Notifieur XeroLinux
Name[hu]=XeroLinux Értesítő beállítások
Name[pl]=Ustawienia powiadomień XeroLinux
Name[sk]=Nastavenia oznámení systému XeroLinux

Comment=Graphical Settings for XeroLinux Notifier
Comment[da]=Grafiske indstillinger til XeroLinux-notifikator
Comment[de]=Grafische Einstellungsverwaltung für XeroLinux
Comment[fr]=Gestionnaire graphique de paramètres pour Notifieur XeroLinux
Comment[hu]=A XeroLinux Notifier értesítéseinek beállítása
Comment[pl]=Graficzne ustawienia powiadomień systemu XeroLinux
Comment[sk]=Grafické nastavenia oznámení pre systém XeroLinux

Exec=msm_notifier --settings
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-XFCE-SettingsDialog;X-KDE-Settings;X-XFCE-SystemSettings;
