#!/usr/bin/env xdg-open
[Desktop Entry]
Name=XeroLinux Settings Manager
Name[ca]=Gestor de configuració de XeroLinux
Name[da]=XeroLinux indstillingshåndtering
Name[de]=XeroLinux Einstellungen
Name[en_GB]=XeroLinux Settings Manager
Name[es]=Gestor de configuración de XeroLinux
Name[fr]=XeroLinux Gestionnaire de paramètres
Name[pl]=Menedżer ustawień XeroLinux
Name[ro]=Gestionar de Setări XeroLinux
Name[sk]=Správca nastavení systému XeroLinux

Comment=Graphical Settings Manager for XeroLinux
Comment[ca]=Gestor de configuració gràfic de XeroLinux
Comment[da]=Grafisk indstillingshåndtering til XeroLinux
Comment[de]=Grafische Einstellungsverwaltung für XeroLinux
Comment[en_GB]=Graphical Settings Manager for XeroLinux
Comment[es]=Gestor de configuración gráfico de XeroLinux
Comment[fr]=Gestionnaire graphique de paramètres pour XeroLinux
Comment[pl]=Graficzny menedżer ustawień systemu XeroLinux
Comment[ro]=Gestionar grafic de setări de sistem pt. XeroLinux
Comment[sk]=Grafický správca nastavení pre systém XeroLinux

Exec=xero-settings-manager
Icon=preferences-desktop
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
